@import '../../styles/mixins';

.booking-rooms {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 15px;

    @include large {
      flex-direction: column;
      margin: 0;
    }

    &-title {
      @include font-h3;

      margin-top: 3px;

      @include large {
        margin-bottom: 20px;
      }
    }

    &-tabs {
      @include large {
        margin-bottom: 20px;
      }
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
  }

  &__error-message {
    margin-top: 68px;
    color: var(--dark-shade);
    font-size: 19px;
    line-height: 23px;
    text-align: center;
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    gap: 20px 15px;
    margin-bottom: 21px;

    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__bookings {
    display: flex;
    margin-bottom: 20px;

    @include extra-large {
      justify-content: center;
    }

    &-title {
      color: var(--dark-shade-50);
      font-weight: bold;
    }

    &-count {
      margin-left: 20px;
      color: var(--dark-shade);
      font-weight: bold;
      font-size: 12px;
    }
  }
}
