@import '../../styles/_mixins';

.booking-details-form {
  width: 380px;
  padding: 39px 29px 29px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 20%);

  @include small {
    width: 100%;
    max-width: 380px;
  }

  &__about {
    margin-bottom: 23px;
  }

  &__services {
    @include font-body;

    display: grid;
    grid-template-columns: minmax(150px, 240px) 1fr;
    margin-bottom: 26px;
    color: var(--dark-shade);
    row-gap: 10px;
  }

  &__description {
    display: flex;
    justify-content: space-between;

    &_wide {
      grid-column: 1/3;
    }
  }

  &__text {
    margin-right: 5px;
    line-height: 21px;
  }

  &__price {
    margin-left: auto;
    white-space: nowrap;
  }

  &__guests {
    display: flex;
    width: 100%;
    padding-top: 4px;
    padding-left: 17px;
    color: rgb(0 0 0 / 50%);
    column-gap: 22px;
  }

  &__guest-name {
    text-transform: capitalize;
  }

  &__result {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    margin-left: 1px;
    color: var(--dark-shade);
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;

    &-line {
      align-self: flex-end;
      width: 100%;
      margin: 0 4px 4px;
      border-bottom: 1px dashed rgb(31 32 65 / 25%);
    }

    &-price {
      white-space: nowrap;
    }
  }

  @include small {
    padding: 40px 15px 29px;
  }
}
