@import '../../styles/mixins';

.search-rooms-form {
  max-width: 380px;
  padding: 39px 29px 29px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 20%);

  &__title {
    margin-bottom: 22px;
    color: var(--dark-shade);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    @include small {
      font-size: 20px;
    }
  }

  &__calendar {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 33px;
  }

  @include small {
    padding: 30px 10px 20px;
  }
}
