@import '../../styles/mixins';

.rate {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  font-family: var(--material-font);
  line-height: 20px;

  &__icon {
    cursor: pointer;

    &_inactive {
      cursor: default;
    }
  }

  @include text-gradient;
}
