@import '../../styles/mixins';

.search-rooms {
  display: flex;
  flex: 1;
  gap: 40px;
  max-width: 1200px;
  margin: 30px auto 72px;
  padding: 0 20px;

  @include extra-large {
    flex-direction: column;
  }

  &__loader {
    margin: auto;
  }
  
  &__error-message {
    font-size: 20px;
    text-align: center;
  }

  &__filters-container {
    width: 100%;
    max-width: 266px;
    margin-right: 20px;
    @include extra-large {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__rooms-container {
    @include extra-large {
      text-align: center;
    }
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(3, minmax(255px, 271px));
    gap: 20px 11px;
    margin-bottom: 40px;

    @include extra-large {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    margin-bottom: 21px;
    @include font-h1;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;
    margin-right: 12px;

    @media (max-width: 1200px) {
      margin: 0;
    }
  }
}
