@import '../../styles/mixins';

.search-rooms {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 30px auto 62px;
  line-height: 15px;

  &__filters-container {
    max-width: 266px;
    margin-left: 10px;
    @include extra-large {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  &__rooms {
    display: grid;
    grid-gap: 20px 12px;
    grid-template-columns: repeat(3, minmax(255px, 271px));
    gap: 20px 12px;

    @include extra-large {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__photo {
    @media (max-width: 1100px) {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__rooms-container {
    margin-left: 45px;

    @media (max-width: 1200px) {
      margin-left: 0;
      padding: 0 20px;
      text-align: center;
    }
  }

  &__title {
    margin: 0 10px 21px 9px;
    color: var(--dark-shade);
    font-size: var(--big-font-size);
    line-height: 30px;

    @media (max-width: 1200px) {
      margin-left: 0;
      font-size: 23px;
    }
  }

  &__pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px 18px 0 0;
    text-align: center;

    @media (max-width: 1065px) {
      padding: 23px 0 0;
    }
  }

  @media (max-width: 840px) {
    flex-direction: column;
  }

  @include extra-large {
    flex-direction: column;
  }
}
