@import '@variables';

.footer-nav-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4px;

  &__link {
    color: $color-shade-grey;
    line-height: 17px;
    text-decoration: none;

    &:hover {
      color: $color-shade-secondary;
      font-weight: bold;
    }
  }

  &__blocks {
    min-width: 160px;

    &:nth-child(2) {
      margin-left: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  &__title-list {
    display: block;
    margin-bottom: 21px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}