.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;

  &_active {
    display: block;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(31 32 65 / 80%);
    cursor: pointer;

    &_position_top {
      align-items: start;
    }
  }

  &__content {
    position: relative;
    z-index: 1000;
    cursor: default;
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 40px;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__overlay_position_top &__content {
    position: absolute;
    top: 70px;
    right: 20px;
    left: 20px;
  }

  &__overlay_position_top &__close-btn {
    top: -30px;
    right: 0;
  }
}
