@import '../../styles/mixins';

.date-dropdown {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
  }

  &__start {
    max-width: rem(150);
  }

  &__end {
    max-width: rem(150);
  }

  &__date-picker {
    position: absolute;
    top: calc(100% + 5px);
    z-index: 1000;
    width: 100%;
  }

  &__date-picker_close {
    display: none;
  }
}
