@import '../../styles/mixins';

.date-dropdown {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__start {
    max-width: rem(150);
  }

  &__end {
    max-width: rem(150);
  }
}
