/* stylelint-disable selector-class-pattern */

@import 'air-datepicker/air-datepicker.css';
@import '../../styles/mixins';

.air-datepicker {
  box-sizing: border-box;
  width: 100%;
  color: var(--dark-shade-50);
  font-size: rem(12);
  font-family: var(--main-font);
  line-height: rem(14.63);
  border: 1px solid var(--dark-shade-25);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgb(31 32 65 / 5%);
  visibility: hidden;

  &:hover {
    border: 1px solid var(--dark-shade-50);
  }

  &.-active- {
    visibility: visible;

    &:not(.-custom-position-) {
      transform: translate(0, 5px);
    }
  }

  &.-inline- {
    visibility: visible;
  }

  &--pointer {
    display: none;
  }

  &-nav {
    padding: rem(15) rem(20) 0 rem(19);
    border: none;

    &--title {
      color: var(--dark-shade);
      font-weight: bold;
      font-size: rem(19);
      line-height: rem(23.16);
      text-align: center;
      transition: color 0.3s ease;

      &:active,
      &:hover {
        color: var(--purple);
        background: transparent;
      }
    }

    &--action {
      transition: opacity 0.3s ease;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      &:active,
      &:hover {
        background: transparent;
        opacity: 0.5;
      }
    }
  }

  &-body {
    &--day-name {
      height: rem(40);
      color: var(--purple);
      font-weight: bold;
      font-size: rem(12);
      line-height: rem(14.63);
      text-transform: none;
    }

    &--day-names {
      margin: 0;
    }

    &--cells {
      &.-days- {
        grid-auto-rows: auto;
      }
    }
  }

  &-arrow {
    color: var(--purple);
  }

  &--content {
    padding: rem(25) rem(19) rem(21) rem(20);
  }

  &-cell {
    height: auto;
    padding: 32% 0;

    &.-year- {
      &.-current- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }

        &.-in-range- {
          color: var(--dark-shade-25);
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );

          &.-focus- {
            color: #fff;
          }
        }
      }

      &.-in-range- {
        background: linear-gradient(
          180deg,
          rgba(#bc9cff, 0.25) 0%,
          rgba(#8ba4f9, 0.25) 100%
        );

        &.-current- {
          background: linear-gradient(
            180deg,
            rgba(#6fcf97, 0.5) 0%,
            rgba(#66d2ea, 0.5) 100%
          );
        }

        &.-focus- {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border: none;
      }
    }

    &.-month- {
      &.-current- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &.-other-decade- {
        &.-focus- {
          color: #fff;
        }

        &.-selected- {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }

        &.-in-range- {
          color: var(--dark-shade-25);
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );

          &.-focus- {
            color: #fff;
          }
        }
      }

      &.-in-range- {
        background: linear-gradient(
          180deg,
          rgba(#bc9cff, 0.25) 0%,
          rgba(#8ba4f9, 0.25) 100%
        );

        &.-current- {
          background: linear-gradient(
            180deg,
            rgba(#6fcf97, 0.5) 0%,
            rgba(#66d2ea, 0.5) 100%
          );
        }

        &.-focus- {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }

      &.-range-from-,
      &.-range-to- {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border: none;
      }
    }

    &.-day- {
      border-radius: 22px;

      &.-focus- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &.-current- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

        &.-in-range- {
          color: var(--dark-shade-50);
          font-weight: normal;
        }

        &.-focus- {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }

      &.-in-range- {
        background: none;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );
          content: '';
        }

        &.air-datepicker-cell_reserved,
        &.air-datepicker-cell_reserved-end,
        &.air-datepicker-cell_reserved-start {
          &::after {
            background: #f5c6cb;
          }

          &.-disabled- {
            &::after {
              background: linear-gradient(
                180deg,
                rgb(188 156 255 / 25%) 0%,
                rgb(139 164 249 / 25%) 100%
              );
            }
          }
        }

        &.-focus- {
          color: #fff;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
          border-radius: 22px;
        }
      }

      &.-range-from- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border: none;
        border-radius: 22px;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );
          border-radius: 50% 0 0 50%;
          content: '';
        }

        &.air-datepicker-cell_reserved-start {
          &::after {
            background: #f5c6cb;
          }
        }

        &.-range-to- {
          border-radius: 22px;

          &.air-datepicker-cell_reserved-end {
            &::before {
              background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            }
          }
        }

        &.air-datepicker-cell_reserved {
          &::after {
            background: #f5c6cb;
          }
        }
      }

      &.-range-to- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border: none;
        border-radius: 22px;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );
          border-radius: 0 50% 50% 0;
          content: '';
        }

        &.air-datepicker-cell_reserved-end {
          &::before {
            background: #f5c6cb;
          }
        }

        &.-range-from- {
          &.air-datepicker-cell_reserved-start {
            &::after {
              background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            }
          }
        }

        &.air-datepicker-cell_reserved {
          &::before {
            background: #f5c6cb;
          }
        }
      }

      &.-selected- {
        color: #fff;
        font-weight: bold;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border: none;

        &.-current- {
          color: #fff;
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }

        &.-focus- {
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.25) 0%,
            rgba(#8ba4f9, 0.25) 100%
          );
        }

        &.-range-from- {
          &.-range-to- {
            &::after {
              border-radius: 22px;
            }

            &::before {
              border-radius: 22px;
            }
          }
        }
      }

      &.-disabled- {
        &.-focus- {
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.5) 0%,
            rgba(#8ba4f9, 0.5) 100%
          );
        }
      }

      &.-other-month- {
        color: var(--dark-shade-25);

        &.-range-from-,
        &.-range-to- {
          color: #fff;
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.5) 0%,
            rgba(#8ba4f9, 0.5) 100%
          );
        }

        &.-focus- {
          color: #fff;
          background: linear-gradient(
            180deg,
            rgba(#bc9cff, 0.5) 0%,
            rgba(#8ba4f9, 0.5) 100%
          );
        }

        &.-in-range- {
          color: var(--dark-shade-25);
          background: none;

          &.-focus- {
            color: #fff;
            background: linear-gradient(
              180deg,
              rgba(#bc9cff, 0.5) 0%,
              rgba(#8ba4f9, 0.5) 100%
            );
          }
        }

        &.-selected- {
          &.-focus- {
            background: linear-gradient(
              180deg,
              rgba(#bc9cff, 0.5) 0%,
              rgba(#8ba4f9, 0.5) 100%
            );
          }
        }

        &.-current- {
          color: #fff;
        }
      }
    }
  }

  &--buttons {
    padding: 0 rem(19) rem(19) rem(19);
    border: none;

    &_hidden {
      display: none;
    }
  }

  &-buttons {
    grid-auto-columns: auto;
    justify-content: space-between;
  }

  &-button {
    width: auto;
    height: auto;
    padding: 0;
    color: var(--purple);
    font-weight: bold;
    font-size: rem(12);
    font-family: inherit;
    line-height: rem(15);
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: var(--purple);
      text-decoration: 2px underline var(--purple);
      background: none;
    }

    &:active {
      background: none;
      opacity: 0.5;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &--size-small {
    min-width: rem(266);
    max-width: rem(266);
    line-height: 1;

    .air-datepicker {
      &-body {
        &--day-name {
          width: rem(32);
          height: rem(32);
        }
      }

      &-cell {
        &.-day- {
          width: rem(32.05);
          height: rem(32.05);
        }
      }
    }
  }
}
