@import '../../styles/mixins.scss';

.rooms {
  &__loader {
    margin: auto;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 5px solid var(--purple);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  &__error-message {
    font-size: 20px;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-gap: 20px 12px;
    grid-template-columns: repeat(3, minmax(255px, 271px));
    gap: 20px 12px;

    @include extra-large {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 41px 18px 0 0;
    text-align: center;

    @media (max-width: 1065px) {
      padding: 23px 0 0;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
