@import '../../styles/mixins.scss';

.check-box {
  list-style: none;

  &__name {
    @include font-body;

    max-width: 200px;
    margin: 0;
    padding-top: 2px;
    color: var(--dark-shade-50);
    line-height: 18px;
    word-break: break-all;
    cursor: pointer;
  }

  &__category {
    position: relative;
    display: inline-flex;
    margin-bottom: 10px;
    cursor: pointer;

    &_rich {
      margin-bottom: 8px;
    }
  }

  &__category_rich &__name {
    color: var(--dark-shade-75);
    font-weight: bold;
    font-family: var(--main-font);
  }

  &__input {
    @include visually-hidden;
  }

  &__check-mark {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid var(--dark-shade-25);
    border-radius: 5px;
    cursor: pointer;
  }

  &__input:focus-visible + &__check-mark {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  &__input:checked + &__check-mark,
  &__input:checked:focus + &__check-mark {
    border: 1px solid var(--purple);

    &::after {
      position: absolute;
      top: 5px;
      left: 6px;
      width: 6px;
      height: 6px;
      border-top: 2px solid #8ba4f9;
      border-left: 2px solid #8ba4f9;
      border-image-source: linear-gradient(#8ba4f9 0%, var(--purple) 100%);
      border-image-slice: 1;
      transform: rotate(-135deg);
      content: '';
    }
  }

  &__input:checked:focus-visible + &__check-mark {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__description {
    @include font-body;

    max-width: 230px;
    margin: 0;
    padding-top: 6px;
    color: var(--dark-shade-50);
    font-weight: normal;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 14px;
    cursor: pointer;
  }
}
