@import "../../styles/_mixins.scss";

.footer {
  font-size: var(--main-font-size);
  background-color: #fff;
  border-top: 1px solid var(--dark-shade-25);

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 0 rgb(31 32 65 / 10%);
    user-select: none;

    @media (max-width: 1200px) {
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 768px) {
      display: flex;
      box-shadow: none;
    }
  }

  &__sub-links {
    &:hover {
      opacity: 0.5;
    }

    &:first-child {
      padding: 0;
    }

    @media (max-width: 1200px) {
      padding-left: 0;
    }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    height: 70px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      padding: 0 15px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sub-copyright {
    margin: 0;

    @media (max-width: 1200px) {
      margin-right: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__sub-icons {
    display: flex;
    justify-content: space-between;
    width: 108px;
    text-align: center;
  }

  &__sub-container {
    width: 100%;
    height: 69px;
    margin: 0 auto;
    color: var(--dark-shade-75);
    background: #fff;
    border-top: 1px solid #e5e5e5;
    box-shadow: none;

    @media (max-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }

    @media (max-width: 768px) {
      border: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 89px;
    line-height: 15px;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__navigation {
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-container {
    width: 260px;
    height: 72px;
    margin-top: 15px;
    line-height: 24px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-special-title {
    margin-top: 15px;
    color: var(--dark-shade-75);
    line-height: 24px;
  }

  &__description-email {
    width: 260px;
    margin-top: 21px;
  }

  &__description {
    margin-top: 4px;
    margin-bottom: 10px;
    color: --dark-shade-75;

    @media (max-width: 1200px) {
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-title {
    @include font-h3;
  }

  &__about-company {
    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  &__icon-twitter,
  &__icon-facebook,
  &__icon-instagram {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  &__icon-twitter {
    background-image: url("./images/twitter.svg");
  }

  &__icon-facebook {
    background-image: url("./images/facebook.svg");
  }

  &__icon-instagram {
    background-image: url("./images/instagram.svg");
  }

  @media (max-width: 768px) {
    padding: 100px 0;
  }
}
