@import '../../styles/mixins.scss';

.like-button {
  @include button-reset-style;

  position: relative;
  display: flex;
  align-items: center;
  min-width: 40px;
  padding-left: 20px;
  line-height: 10px;
  border: 1px solid var(--dark-shade-25);
  border-radius: 22px;
  outline-offset: 5px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &::after {
    left: 5px;
    color: var(--dark-shade-25);
    @include material-icon('favorite_border');

    font-size: 10px;
  }

  &__counter {
    @include font-body;

    padding-top: 4px;
    padding-bottom: 3px;
    color: var(--dark-shade-75);
    font-size: 9px;
    line-height: 12px;
  }

  &_liked {
    border: 1px solid var(--purple);

    &::after {
      color: var(--purple);
      @include material-icon('favorite');

      font-size: 10px;
    }

    .like-button {
      &__counter {
        color: var(--purple);
      }
    }
  }
}
