@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.like-button {
  @include button-reset-style;
  font-family: var(--material-font);
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 40px;
  padding-left: 20px;
  line-height: 10px;
  border: 1px solid var(--dark-shade-25);
  border-radius: 22px;
  outline-offset: 5px;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 5px;
    left: 5px;
    content: 'favorite_border';
    color: var(--dark-shade-25);
  }

  &__counter {
    @include font-body;

    padding-top: 4px;
    padding-bottom: 3px;
    color: var(--dark-shade-75);
    font-size: 9px;
    line-height: 12px;
  }

  &_liked {
    border: 1px solid var(--purple);

    &::after {
      content: 'favorite';
      color: var(--purple);
    }

    .like-button {
      &__counter {
        color: var(--purple);
      }
    }
  }
}
