@import '../../styles/mixins.scss';

.landing-page {
  background: url('../../assets/img/landing-page-bg.jpg') no-repeat center;
  background-position-y: 100%;
  background-size: 100%;

  @include extra-large {
    aspect-ratio: 1440/830;
  }

  &__wrapper {
    display: grid;
    width: 100%;
    max-width: 1170px;
    min-height: 830px;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 4px;

    @include extra-large {
      height: 100%;
      min-height: initial;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__search-room-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: center;
    justify-self: start;
  }

  &__text {
    @include font-body;

    display: flex;
    align-items: flex-end;
    justify-self: end;
    max-width: 265px;
    padding-bottom: 20px;
    color: var(--dark-shade-75);
    text-align: end;
  }
}
