@import '../../styles/mixins.scss';

.landing-page {
  background: url('../../assets/img/landing-page-bg.jpg') no-repeat center;
  background-position-y: 100%;
  background-size: 100%;

  @include layout-width {
    aspect-ratio: 1440/830;
  }

  @include large {
    aspect-ratio: unset;
    background-size: cover;
  }

  &__wrapper {
    display: grid;
    width: 100%;
    max-width: 1170px;
    min-height: 830px;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 4px;

    @include layout-width {
      height: 100%;
      min-height: initial;
    }

    @include small{
      padding-left: 0;
    }
  }

  &__search-room-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: center;
    justify-self: start;
    
    @include layout-width {
      padding-left: min(calc(100vw - 382px) /2, calc(1439px - 100vw));
    }
    @include large {
      justify-self: center;
      padding-left: unset;
    }
  }

  &__text {
    @include font-body;

    display: flex;
    align-items: flex-end;
    justify-self: end;
    max-width: 265px;
    padding-bottom: 21px;
    color: var(--dark-shade-75);
    text-align: end;
    box-sizing: initial;

    @include layout-width {
      padding-right: calc((1439px - 100vw) * 0.1);
    }

    @include extra-large {
      padding-right: 25px;
    }

    @include small{
      display: block;
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
}
