@import '../../styles/mixins';

.filters {
  &__button {
    display: none;
    justify-content: center;

    @include extra-large {
      display: flex;
    }
  }

  &__content {
    @include extra-large {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 40px 15px;
      overflow-y: scroll;
      background-color: #fff;
      transform: translateX(200%);
      transition: transform 0.7s;
    }

    &_visible {
      transform: none;
    }
  }

  &__content-wrapper {
    @include extra-large {
      max-width: 266px;
      margin: 0 auto;
    }
  }

  &__content-button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3000;
    display: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    opacity: 0.3;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 15px;
      width: 2px;
      height: 33px;
      background-color: #333;
      content: ' ';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @include extra-large {
      display: block;
    }
  }

  &__arrival-in-hotel {
    margin-bottom: 24px;
  }

  &__guests-container {
    margin-bottom: 30px;
  }

  &__price-hotel {
    margin-bottom: 24px;
  }

  &__order-in-room {
    margin-bottom: 16px;
  }

  &__availability {
    margin-bottom: 21px;
  }

  &__furniture {
    margin-bottom: 25px;
  }
}
