@import '../../styles/mixins';

.sign-in-form {
  padding: 39px 29px 30px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 1px 1px 25px 1px rgb(0 0 0 / 20%);

  &__title {
    @include font-h1;

    margin-bottom: 21px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    border: none;
    row-gap: 12px;
  }

  &__submit-button {
    margin-bottom: 29px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }

  &__link {
    width: 100px;
    padding-top: 1px;
  }

  @include medium {
    padding: 40px 15px 37px;
  }
}
